#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
}

.Card {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}



.Tarjeta {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    text-align: left;
}
.Tarjeta :hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

h2 {
  margin-top: 0;
}

ul

.Avatar {
  border-radius: 50%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}